<?xml version="1.0"?>
<model>
  <name>burger_twin</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author><name>Algae Twin</name></author>
  <description>
    TurtleBot3 Burger digital twin with chemical dispersal motor.
    Derived from ROBOTIS turtlebot3_gazebo burger model (Apache-2.0).
  </description>
</model>
